Makefile.in

Makefile
config.h:
**/.libs
**/.deps
*.log
*.trs
test-suite.log
configure
autom4te.cache
aclocal.m4
config.*
config/*
!config/ax*.m4
missing
libtool
compile
depcomp
install-sh
test-driver
*.dirstamp
*.la
stamp-h1
*.pc

test_crc
test_datagroups
test_datagroups_directorymode
test_datagroups_headermode
test_example
test_output
test_packets